<%= form_for(gallery_attachment) do |f| %>
  <% if gallery_attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gallery_attachment.errors.count, "error") %> prohibited this gallery_attachment from being saved:</h2>

      <ul>
      <% gallery_attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :picture %>
    <%= f.text_field :picture %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
