<div class="row first-row">
  <div id="newsfeed" class="col-lg-12">
    <br />
    <br />

    <h4><%= fa_icon "newspaper-o" %><%= link_to 'BEGIVENHEDER', events_path %></h4>
    <h1>B3GIV3NH3D3R - FRONT --> PUBLIC</h1>
    <div class="well">
        <%= render_activities(@public_events, layout: '/shared/activity') %>
    </div>

    <h4><%= fa_icon "newspaper-o" %> NYHEDER</h4>
    <div id="activities" >
      <% if @public_activities.empty? %>
        <div class="well">
          <%= render('shared/no_resource', resources: 'Activities') %>
        </div>
      <% else %>
        <%= render_activities(@public_activities, layout: '/shared/activity') %>
        <%= render_activities(@private_activities, layout: '/shared/activity') %>
      <% end %>
    </div>
    <%= render 'shared/paginate', resources: @public_activities %>
  </div>
</div>
