<div class="row first-row">
  <div class="col-lg-3">
    <%= render 'shared/user_info' %>
  </div>
  <div class="index-events col-lg-9">
    <h4>UGENS BEGIVENHEDER - INDEX</h4>

    <ul class="list-group">
      <% @events.each do |event| %>
        <h5><%= link_to event.name, event_path(event) %></h5>
        <li class="event-dropdown list-group-item type="button" data-toggle="collapse" data-target="#event-colapsible" aria-expanded="false" aria-controls="event-colapsible">
          <%= event.event_datetime.strftime('D. %d/%m - kl. %H:%M') %>
          <span class="float-right">
            Oprettet af: <strong><u><%= link_to User.find(event.user_id).name %></u></strong>
          </span>

          <div class="collapse" id="event-colapsible">
            <div class="card card-body">
              <br />
              <%= event.description %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">

  <div class="col-lg-3">
  </div>
  <div id="newsfeed" class="col-lg-6">
    <%= render 'posts/form' %>
    <br>
    <div>
      <div id="activities">
        <% if @activities.empty? %>
        <div class="well">
          <%= render('shared/no_resource', resources: 'Activities') %>
        </div>
      <% else %>
        <%= render_activities(@activities, layout: '/shared/activity') %>
      <% end %>
      </div>
      <%= render 'shared/paginate', resources: @activities %>
    </div>

    <div class="col-lg-3">
      <%= render 'shared/links' %>
    </div>
  </div>
