<%= form_for(@event) do |f| %>
  <div class="form-group">
    <%= f.label :event_name %>
    <%= f.text_field :name, autofocus: true, placeholder: 'Begivenhedens Navn', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :when? %>
    <%= f.text_field :event_datetime, placeholder: 'Hvornår er det?', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label "Beskrivelse" %>
    <%= f.text_area :description, placeholder: 'Beskrivelse', class: 'form-control', cols: 30, rows:  10 %>
  </div>
  <div class="actions">
    <%= f.submit (@event.persisted? ? "Opdater" : "Opret"), class: 'btn btn-primary' %>
  </div>
<% end %>
