<p id="notice"><%= notice %></p>

<h1>Gallerier</h1>

<table>
  <tbody>
    <% @galleries.each do |gallery| %>
      <tr>
        <%# <td><%= image_tag gallery.gallery_attachments[0].picture.thumb %1></td> %>
        <td><%= image_tag gallery.gallery_attachments[0].picture.thumb %></td>
        <td><%= link_to 'Vis', gallery %></td>
        <td><%= link_to 'Rediger', edit_gallery_path(gallery) %></td>
        <td><%= link_to 'Slet', gallery, method: :delete, data: { confirm: 'Er du sikker?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gallery', new_gallery_path %>
