<p id="notice"><%= notice %></p>

<h2><%= @gallery.title %>TODO: save title</h2>

<% @gallery.gallery_attachments.each do |gallery| %>
  <div class="img-fluid"><%= link_to image_tag(gallery.picture.gallery_thumb), gallery.picture.url %></div>
<% end %>



<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
